/* Reset default browser styles */
html, body, header, nav, ul, li, section, footer {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Section styles */
section {
    padding: 40px 20px;
}

section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.profile-pic {
    max-width: 100%; /* Ensures the image does not exceed its parent container's width */
    height: auto; /* Allows the image's height to adjust proportionally to its width */
    display: block; /* Ensures the image behaves as a block element */
    margin: 0 auto; /* Centers the image horizontally within its container */
}


section p {
    margin-bottom: 20px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

footer p {
    font-size: 14px;
}